 *{
     padding: 0;
     margin: 0;
     font-family: 'Poppins', sans-serif;
 }

 a{
     text-decoration: none;
 }

 .container{
     width: 1140px;
     margin: 0 auto;
 }

 button{
     cursor: pointer;
     border: none;
     transition: .4s;
 }
 /*header start*/

#header{
    position: static;
    top: 0;
    z-index: 100;
    padding: 25px 0;
}
 





